# dependencies
/node_modules
/.pnp
.pnp.js
pnpm-lock.yaml

# testing
/coverage

# next.js
/.next/
/out/
public/sitemap.xml
.vercel

# production
/build

# rss feed
/public/feed.xml

# search
/public/search.json

# misc
.DS_Store

# debug
*.log
npm-debug.log*
pnpm-debug.log*
pnpm-error.log*

# local env files
.env.local
.env.development.local
.env.test.local
.env.production.local

# Contentlayer
.contentlayer

# Generated tag data
/app/tag-data.json
